langchain==0.3.27
langchain-core==0.3.75
langchain-openai==0.3.32
langchain-text-splitters==0.3.9
langgraph==0.6.6
langgraph-api==0.4.1
langgraph-checkpoint==2.1.1
langgraph-cli==0.4.0
langgraph-prebuilt==0.6.4
langgraph-runtime-inmem==0.9.0
langgraph-sdk==0.2.3
langsmith==0.4.19
pgvector==0.4.1
psycopg2-binary==2.9.10
python-dotenv==1.1.1

